#teste{
    color:red;
}

label.m-3.form-label.fs-5{
   margin: 10px;
   padding: 5px;
    
}

input.m-3.form-control.form-control-lg.fs-5{
    margin: 0%;
    padding: 0%;
    width: 98%;
    margin-right: 1px;
}

#estado{
    width: 10%;
}

.row {
    margin-top: 1.5rem;
}
